* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
}

body {
  background-color: aliceblue;
}

.App {
  section {
    margin: 2rem 3vw;
  }

  &__icp-login-greet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
    }
    h1 {
      font-size: xx-large;
    }
  }
  &__connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 3.5rem;
    background-color: #fff;
    justify-content: space-between;
  }
}

.connect-button {
  color: #fff;
  cursor: pointer;
  font-size: larger;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #000;

  &:hover {
    background-color: #1c1c1c;
  }
}
.dialog-styles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 60%);
  animation: fade-in 0.18s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
  overflow: auto;
  box-sizing: border-box;
  padding: 30px;
}
.dialog-container {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 15px;
  overflow: auto;
  grid-template-columns: 1fr;
  cursor: initial;
  animation: move-in 0.18s;
  max-width: 420px;
  width: 100%;
  box-sizing: border-box;
}
.button-styles {
  background: transparent;
  max-width: 100%;
  width: 100%;
  height: 75px;
  padding: 10px;
  border: none;
  border-radius: 11px;
  outline: 0;
  cursor: pointer;
  transition: transform 0.15s;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #e6c0ff;
  }
}
.img-styles {
  height: 55px;
  width: 55px;
  padding: 10px;
  box-sizing: content-box;
}
@media screen and (max-width: 650px) {
  .App {
    &__icp-login-greet {
      h1 {
        font-size: x-large;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .App {
    &__connectedStatus {
      font-size: medium;
    }
    &__icp-login-greet {
      img {
        width: 100px;
      }
      h1 {
        font-size: large;
      }
    }
  }

  .connect-button {
    font-size: medium;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }
  .button-styles {
    height: 50px;
  }
  .img-styles {
    height: 35px;
    width: 35px;
  }
}
